{% extends '_includes/index.html.twig' %}

{% block titre %}Agenda{% endblock %}
	
{% block page_content %}
	<div class="row">
		<div class="col-lg-3">
			<!--begin::Card-->
			<div class="card card-custom card-stretch">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Evènements</h3>
					</div>
				</div>
				<div class="card-body">
					<div id="kt_calendar_external_events" class="fc-unthemed">
						<div class="btn btn-block text-left font-weight-bold btn-light-primary fc-draggable-handle mb-5 cursor-move" data-color="fc-event-primary">Visite</div>
						<div class="btn btn-block text-left font-weight-bold btn-light-success fc-draggable-handle mb-5 cursor-move" data-color="fc-event-primary">Visio conference</div>
						<div class="btn btn-block text-left font-weight-bold btn-light-danger fc-draggable-handle mb-5 cursor-move" data-color="fc-event-success">Diner</div>
						{# <div class="btn btn-block text-left font-weight-bold btn-light-info fc-draggable-handle mb-5 cursor-move" data-color="fc-event-warning">Product Launch</div> #}
						<div class="btn btn-block text-left font-weight-bold btn-light-warning fc-draggable-handle cursor-move" data-color="fc-event-danger">Rapport</div>
						<div class="separator separator-dashed my-10"></div>
						{# <div class="btn btn-block text-left font-weight-bold btn-light-success fc-draggable-handle cursor-move" data-color="fc-event-success">Project Update</div> #}
						<div class="btn btn-block text-left font-weight-bold btn-light-primary fc-draggable-handle cursor-move" data-color="fc-event-info">Rencontre</div>
						<div class="btn btn-block text-left font-weight-bold btn-light-danger fc-draggable-handle cursor-move" data-color="fc-event-dark">Lunch</div>
						<div class="separator separator-dashed my-10"></div>
						{# <div>
							<label class="checkbox checkbox-primary">
								<input type="checkbox" id="kt_calendar_external_events_remove" />Effacer après le déplacement 
								<span></span>
							</label>
						</div> #}
					</div>
				</div>
				{# <div class="card-body">
				    <div id="kt_calendar_external_events" class="fc-unthemed">
				     	<div class="fc-draggable-handle label font-weight-bolder label-lg label-primary label-inline mb-5 cursor-move" data-color="fc-event-primary">Meeting</div><br/>
				     	<div class="fc-draggable-handle label font-weight-bolder label-lg label-primary label-inline mb-5 cursor-move" data-color="fc-event-primary">Conference Call</div><br/><br/>
				     	<div class="fc-draggable-handle label font-weight-bolder label-lg label-success label-inline mb-5 cursor-move" data-color="fc-event-success">Dinner</div><br/>
				     	<div class="fc-draggable-handle label font-weight-bolder label-lg label-warning label-inline mb-5 cursor-move" data-color="fc-event-warning">Product Launch</div><br/>
				     	<div class="fc-draggable-handle label font-weight-bolder label-lg label-danger label-inline cursor-move" data-color="fc-event-danger">Reporting</div><br/>

				        <div class="separator separator-dashed my-10"></div>

				        <div class="fc-draggable-handle label font-weight-bolder label-lg label-success label-inline mb-5 cursor-move" data-color="fc-event-success">Project Update</div><br/>
				     	<div class="fc-draggable-handle label font-weight-bolder label-lg label-info label-inline mb-5 cursor-move" data-color="fc-event-info">Staff Meeting</div><br/>
				     	<div class="fc-draggable-handle label font-weight-bolder label-lg label-dark label-inline cursor-move" data-color="fc-event-dark">Lunch</div><br/>

				        <div class="separator separator-dashed my-10"></div>
				     	<div>
				      		<label class="checkbox checkbox-primary">
				      			<input type="checkbox" id="kt_calendar_external_events_remove"> Remove after drop
				      			<span></span>
				      		</label>
				     	</div>
				    </div>
				</div> #}
			</div>
			<!--end::Card-->
		</div>
		<div class="col-lg-9">
			<!--begin::Card-->
			<div class="card card-custom card-stretch">
				<div class="card-header">
					<div class="card-title">
						<h3 class="card-label">Calendrier</h3>
					</div>
					<div class="card-toolbar">
						<a href="#" class="btn btn-light-primary font-weight-bold">
						<i class="ki ki-plus"></i>Ajouter une tâche</a>
					</div>
				</div>
				<div class="card-body">
					<div id="kt_calendar"></div>
				</div>
			</div>
			<!--end::Card-->
		</div>
	</div>
{% endblock %}